.sidebar {
  position: sticky;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 0px;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 0%;
}
.sidebar ul
{
 
 padding-left: 0;

}

.sidebar ul li {
 padding-left: 5%;
 color: white;
 list-style: none;
 padding-top: 2%;
 padding-bottom: 5%;
 margin-top: 5%;
 margin-left: 2%;
 margin-right: 2%;

}

.sidebar ul li:hover{

  background-color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}
#xicon{

  padding-top: 0;
  top: 0;
  font-size: 140%;
  color: white;
  margin-top: 3%;
  margin-right: 0;
  margin-left: 85%;
}
#xicon:hover{
  
  cursor: pointer;
  color: lightgray;

}